*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: aquamarine;
    
    
}




body{
    display: flex;
    justify-content: center;
    background:url(https://t4.ftcdn.net/jpg/01/19/11/55/240_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#firstname{
    color: aqua;
}
.last-name{
    color: darkmagenta;
}
input.last-name{
    color: aquamarine;
}

p{
    color: aliceblue;
    border: 4px solid blueviolet;
    border-radius:  12px;
    padding:  4px;
}